@media (max-width:800px) {

    .imagem {
        width: 50vw;
        height: 55vh;
    }

    .descricao p {
        font-size: 1.5vw;
        line-height: 3vh;
    }

    .rodape span {
        height: 1.6vh;
        width: 1.8vw;
    }
}

@media (max-width:426px) {

    body {
        background-image: url(../images/bg-mobile.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .titulo img {
        width: 35vw;
        padding-top: 5vh;
    }

    .conteudo_principal {
        flex-direction: column;
        height: 78vh;
        gap: 20px;
    }

    .imagem {
        width: 80vw;
        height: 30vh;
    }

    .imagem img {
        width: 100%;
    }

    .descricao {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        max-height: 40vh;
    }

    .descricao h2 {
        width: 70vw;
        text-align: center;
        font-size: 6vw;
        line-height: 6vh;
    }

    .descricao p {
        font-size: 3.2vw;
        width: 61vw;
        text-align: center;
        padding-top: 3vh;
        line-height: normal;
    }

    .descricao button {
        width: 40vw;
        font-size: 3vw;
        box-shadow: 0.1vw 0.4vh 0.7vh 0.1vw hsl(257, 40%, 33%);
        border-radius: 10vw;
    }

    .rodape {
        justify-content: center;
        align-content: center;
        padding: 0;
        margin: 0;
        gap: 10px;

    }

    .rodape span {
        width: 4vw;
        height: 2.4vh;
        text-align: center;
        font-size: 3.2vw;
        padding: 0.9vh 1.5vw;

    }
}