@media (max-width:425px) {

    body {
        max-width: 425px;
        background-image: url(../images/bg-mobile.svg);
        background-color: hsl(257, 40%, 49%);
        background-position: top;
        background-repeat: no-repeat;
        background-size: 425px;
    }

    .titulo img {
        width: 35vw;
        padding-top: 8vh;


    }

    .conteudo_principal {
        flex-direction: column;
        text-align: center;
        margin-right: 7%;
    }

    .imagem {
        width: 82vw;

    }

    .descricao {
        padding: 0;

        margin-left: 10vw;

    }

    .descricao h2 {
        font-size: 6vw;
        width: 70vw;
        line-height: 6vh;

    }

    .descricao p {
        font-size: 3.2vw;
        width: 65vw;
        padding-top: 3vh;
        line-height: normal;
    }

    .descricao button {
        width: 50vw;
        margin-left: 7vw;
        font-size: 3vw;

    }

    .rodape {

        justify-content: center;
        margin: 0;

    }

    .rodape span {
        width: 16px;
        height: 16px;
        text-align: center;
        font-size: 3.2vw;
        padding: 5px;
        margin-bottom: 20px;

    }
}