body {
    min-height: 100vh;
    max-width: 1440px;
    background-image: url(../images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;



}

.titulo {
    height: 18vh;

}

.titulo img {
    width: 150px;
    padding-left: 7%;
    padding-top: 3%;

}

.conteudo_principal {
    color: white;
    display: flex;
    margin-left: 7%;
    gap: 40px;


}



.imagem img {
    width: 100%;
}

.descricao {
    min-width: 30vw;
    max-width: 34vw;

    margin-right: 4vw;
    padding-top: 6vh;
    height: 50vh;

}

.descricao h2 {
    font-size: 2.5vw;
}

.descricao p {
    font-size: 1.1vw;
    padding-top: 2vh;
    line-height: 3.5vh;
}

.descricao button {
    margin-top: 3vh;
    box-shadow: 7px 8px 15px -6px #3b363b;
    background-color: #f3f2f2;
    border-radius: 33px;
    cursor: pointer;
    color: hsl(257, 40%, 49%);
    padding: 10px 50px;
    text-decoration: none;
    font-size: 1vw;


}

.descricao button:hover {
    background-color: hsl(300, 69%, 71%);
    color: #f3f2f2;
}

.rodape {
    display: flex;
    justify-content: right;
    margin-right: 5vw;
    margin-top: -2vh;
    gap: 10px;

}

.rodape span {
    width: 2vw;
    height: 2vw;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    font-size: 1.4vw;
    color: #f3f2f2;


}


.rodape span:hover,
.rodape a:hover {
    cursor: pointer;
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

.rodape a:visited {
    text-decoration-color: white;
}




















/* Autor: Pedro Alves de Araujo - https://github.com/pedroallvs */